checkout
out
target
logs
*.iml
.idea
*.iws
*.ipr
*.war
workspace.xml
*/lib/build
*/lib/compile
*/lib/runtime
*/lib/test
~$*
stacktrace.log
*.tmproj
*.launch
*/reports/
*.orig
*.zip
*/docs
.DS_Store
*/.DS_Store
*/web-app/WEB-INF/classes
cobertura.ser
plugin.xml
*/WEB-INF/applicationContext.xml
sitemesh.xml
*/WEB-INF/tld/*.tld
/prodDb.*
*Db.properties
*Db.script
/plugins
/web-app/plugins